@font-face {
	font-family: 'Karla';
	src: url('../fonts/Karla-Regular.ttf');
}

html {
    height: 100%;
    width: 100%;
}

body {
  font-family: Karla, Arial, sans-serif;
  background-image: url(../images/bgdialog.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #ccc;
  height: 100%;
  width: 100%;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}

header, footer {
    width: 100%;
    background-color: black;
    color: white;
}

header {
	flex: 1;
	flex-grow: 1;
	text-align: center;
}

#content {
  flex: 2;
  flex-grow: 10;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}

ul {
	display: flex;
	flex-direction: column;
	padding-left: 0px;
	width: 100%;
	align-content: space-between;
	justify-content: space-between;
}

li {
	display: flex;
	flex-direction: row;
	min-height: 70px;
}

.self {
	justify-content: flex-start;
}

.other {
	justify-content: flex-end;
}

.message{
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;
	padding: 15% 5% 15% 5%;
	margin: 5%;
}

.usermessage {
	flex: 1;
	margin: 0px;
}

.username {
	flex: 2;
	margin: 0px;
	color: #ad807d;
	font-size: 70%;
}

.self div p {
	align-self: flex-start;
}

.other div p {
	align-self: flex-end;
}


footer {
	flex: 3;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer figure {
	margin: 0px;
	order: 2;
	display: inline-flex;
}

img {
	max-width: auto;
	max-height: 50px;
	width: auto;
	z-index: 2;
	margin-top: -35%;
}

textarea {
	display: inline-flex;
	margin: 0;
	order: 1;
	flex-grow: 2;
	background-color: black;
	font-family: Karla, Arial, sans-serif;
	color: white;
	border: none;
	margin: 10% 5% 10% 10%;
}

#alert {
	z-index: 2;
}
